body{
    font-family: "source sans pro", sans-serif;
}

.paragraf{
    color: aliceblue;
    background-color:#043566;
    text-align: center;
    font-family: "source sans pro", sans-serif;
    font-style: italic;
}

.tulisan{
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
    font-family: "source sans pro", sans-serif;
    font-weight: 100;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 1px;
    background-color:#19679C; 
    width: 1500px;
    height: 600px;
    color: #fff;
    font-size: 30pt;

}

.menulis{
    text-align: center;
    font-size: 40px;
    font-family: "source sans pro", sans-serif;
    font-weight: 100;
}

.lisan{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family: "source sans pro", sans-serif;
    font-weight: 100;
}

.silis{
    text-align: center;
    font-size: 40px;
    font-family: "source sans pro", sans-serif;
    font-weight: 100;
    background-color: #fff;
    color: #fff;
}
 .layar-dalam{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    margin: 60px;
    font-family: "source sans pro", sans-serif;
 }

 .ini{
    width: 30%;
    padding-right: 150px;
    font-size: 15px;
    font-family: "source sans pro", sans-serif;
    
 }

 .lh-sm{
    margin: 50px;
    font-size: 15px;
    color: #fff;
   margin-left: 100px;
   padding-right: 100px;
    text-align: left;
    font-family: "source sans pro", sans-serif;
    
 }

 .copyright{
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #fff;
    text-align: center;
    background-color: #043566;
    color: #fff;
    font-family: "source sans pro", sans-serif;
 }

 .haha{
    padding-left: 150px;
    font-size: 15px;
    text-align: left;
    font-family: "source sans pro", sans-serif;
 }

.logo{
   
    width: 30%;
}

.lukisan{
    padding-left: 150px;
    margin-left: 150px;
}
 
.table-responsive{
    margin-top: 20px;
}

.text-center{
    margin-top: 40px;
}

.ikut{
    font-family: "source sans pro", sans-serif;
}

.ikutan{
    font-family: "source sans pro", sans-serif; 
}
